node_modules
.next
out
build
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
.history
.turbo
.vercel
.next
.next/
.next/static/
.next/static/chunks/
.next/static/chunks/pages/
.next/static/chunks/app/
.next/static/chunks/app/page/
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
.eslintcache
.prettiercache
.vscode
.idea
.DS_Store
.gitignore